.topPage, .confirmPage {
  margin: 100px 0;
  .btn-primary, .btn-info {
    width: 200px;
    padding: 10px;
  }
}


.confirmPage {
  &_title {
    margin-bottom:50px;
  }
  .confirmForm{
    &_item {
      border-bottom: 1px solid #ccc;
      margin-bottom: 40px;
      > h3 {
        font-size: 19px;
        font-weight: bold;
      }
    }
  }
  .btn-info {
    margin-right: 20px;
  }
}
